body {
  background-color: #661a00
}

.intro img {
  position: relative;
  left: 15%;
  margin: 20px;
}

.intro h1 {
  text-align: center;
  font-weight: bold;
  font-family: fantasy;
  font-size: 60px;
  color: black;
  margin: 20px;
}

.pizzaSize {
  border: 5px solid black;
  margin: 10px;
  padding: 10px;
  background-color: #e62e00;
  width: 500px;
}

.pizzaToppings {
  border: 5px solid black;
  margin: 10px;
  padding: 10px;
  background-color: #e62e00;
  width: 500px;
}

.user-order {
  display: none;
}

.user-order h3 {
  border: 5px solid black;
  margin: 10px;
  padding: 10px;
  background-color: #e62e00;
  width: 500px;
}

.user-order img {
  width: 300px;
  height: 300px;
}

#display-pizza {
  display: none;
}

/*.pizzaName:hover {
  text-decoration: underline;
}*/
